<!DOCTYPE HTML>
<html>
	{%load static%}
	<head>
		<title>Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{%static 'users/global/assets/css/main.css'%}" />
		<noscript><link rel="stylesheet" href="{%static 'users/global/assets/css/noscript.css'%}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">LostoCity</a></h1>
						<nav>
                            {%if user.is_authenticated%}
								<a href="/profile"><img src="{{ user.profile.image.url }}" alt="Profile" width="40px" style="vertical-align: middle;border: 1px solid;border-radius: 20px;background-color: aliceblue;"></a>
							{%endif%}
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								{%if user.is_authenticated%}
									<li><a href="/profile">Profile</a></li>
								{%endif%}
								<li><a href="/posts">Posts</a></li>
								{%if user.is_authenticated%}
									<li><a href="/logout">Logout</a></li>
								{%else%}
									<li><a href="/entry">Sign in/Sign Up</a></li>
								{%endif%}
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Profile</h2>
								<p></p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
									<div class="row gtr-uniform">
										<div class="col-6 col-12-small">
											<label for="profile_image">Profile Photo</label>
											<img src="{{ user.profile.image.url }}" id="profile_image" alt="Profile" width="200px" style="vertical-align: middle;border: 5px solid;border-radius: 1000px;background-color: aliceblue;">
										</div>
										<div class="col-3 col-12-small">
											<label for="first_name">First Name</label>
											{{user.first_name}}
											<label for="last_name">Last Name</label>
											{{user.last_name}}
										</div>
										<div class="col-3 col-12-small">
											<label for="email">Email</label>
											{{user.email}}
										</div>
										<div class="col-12">
											<a href="update/" class="button primary">Update Profile</a>
										</div>
										<div class="col-3 col-12-small">
										</div>
										<div class="col-3 col-12-small">
											<a href="claimList/" class="button">Claims</a>
										</div>
										<div class="col-3 col-12-small">
											<a href="returnList/" class="button">Returns</a>
										</div>
										<div class="col-3 col-12-small">
										</div>
										<div class="col-3 col-12-small">
											<a href="myLostList/" class="button">My Lost List</a>
										</div>
										<div class="col-3 col-12-small">
											<a href="myFoundList/" class="button">My Found List</a>
										</div>
										<div class="col-3 col-12-small">
											<a href="myClaimList/" class="button">My Claim List</a>
										</div>
										<div class="col-3 col-12-small">
											<a href="myReturnList/" class="button">My Return List</a>
										</div>
										<div class="col-12">
											<a href="posts/" class="button primary">Show all Posts</a>
										</div>
									</div>
									<p><h3 class="major">Your recent Posts</h3></p>
									<section class="features">
										{%for item in objects%}
											<article>
												<a href="/item/{{item.0}}/{{item.1.id}}" class="image"><img src="{{item.1.image.url}}" style="object-fit: cover;vertical-align: middle;" width="416px" height="243px" /></a>
												<h3 class="major"></h3>
												{{item.1.name}}</br>
												{%if item.0 == "lost"%}
													Lost Item</br>
												{%elif item.0 == "found"%}
													Found Item</br>
												{%endif%}
												Posted by {{item.1.user}}
												<a href="/item/{{item.0}}/{{item.1.id}}" class="special">View</a>
											</article>
										{%endfor%}
									</section>
									<ul class="actions">
										<li><a href="posts/" class="button">View More</a></li>
									</ul>
								</div>
							</div>
					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="contact">
								<li class="icon solid fa-phone"></li>
								<li class="icon solid fa-envelope"><a href="#"></a></li>
								<li class="icon brands fa-twitter"><a href="#"></a></li>
								<li class="icon brands fa-facebook-f"><a href="#"></a></li>
								<li class="icon brands fa-instagram"><a href="#"></a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{%static 'users/global/assets/js/jquery.min.js'%}"></script>
			<script src="{%static 'users/global/assets/js/jquery.scrollex.min.js'%}"></script>
			<script src="{%static 'users/global/assets/js/browser.min.js'%}"></script>
			<script src="{%static 'users/global/assets/js/breakpoints.min.js'%}"></script>
			<script src="{%static 'users/global/assets/js/util.js'%}"></script>
			<script src="{%static 'users/global/assets/js/main.js'%}"></script>

	</body>
</html>