<!DOCTYPE HTML>
<html>
	{%load static%}
	<head>
		<title>{%if lostForm%}Lost{%elif foundForm%}Found{%elif claimForm%}Claim{%elif returnForm%}Return{%elif option == 'lost'%}Lost Edit{%elif option == 'found'%}Found Edit{%elif option == 'claim'%}Claim Edit{%elif option == 'return'%}Return Edit{%endif%} Form</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{%static 'posts/global/assets/css/main.css'%}" />
		<noscript><link rel="stylesheet" href="{%static 'posts/global/assets/css/noscript.css'%}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">LostoCity</a></h1>
						<nav>
                            {%if user.is_authenticated%}
								<a href="/profile"><img src="{{ user.profile.image.url }}" alt="Profile" width="40px" style="vertical-align: middle;border: 1px solid;border-radius: 20px;background-color: aliceblue;"></a>
							{%endif%}
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								{%if user.is_authenticated%}
									<li><a href="/profile">Profile</a></li>
								{%endif%}
								<li><a href="/posts">Posts</a></li>
								{%if user.is_authenticated%}
									<li><a href="/logout">Logout</a></li>
								{%else%}
									<li><a href="/entry">Sign in/Sign Up</a></li>
								{%endif%}
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>{%if lostForm%}Lost{%elif foundForm%}Found{%elif claimForm%}Claim{%elif returnForm%}Return{%elif option == 'lost'%}Lost Edit{%elif option == 'found'%}Found Edit{%elif option == 'claim'%}Claim Edit{%elif option == 'return'%}Return Edit{%endif%} Form</h2>
								<p>{%if lostForm%}Fill the details of the lost item.{%elif foundForm%}Fill the details of the found item.{%elif claimForm%}Give proper details of the item that you lost.{%elif returnForm%}Give proper details of the item that you found.{%endif%}</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
									<p><a href="javascript:history.back()" class="button">Back</a>{%if user == item.user%}<a href="/delete/{{option}}/{{item.id}}/" style="float: right;" class="button">Delete</a>{%endif%}</p>
									<h3 class="major">{%if lostForm%}Lost{%elif foundForm%}Found{%elif claimForm%}Claim{%elif returnForm%}Return{%endif%} Form</h3>
									<form method="POST" action="" enctype="multipart/form-data">
										{%csrf_token%}
										<div class="row gtr-uniform">
											{%if not option%}
												<div class="col-12">
													<label for="name">Name</label>
													<input type="text" name="name" id="name" required/>
												</div>
												<div class="col-12">
													<label for="description">Description</label>
													<textarea name="description" id="description" rows="4" placeholder="Enter detailed description of the item/individual." required></textarea>
												</div>
												{%if lostForm or foundForm%}
													<div class="col-12">
														<label for="category">Category</label>
														<select name="category" id="category" required>
															<option value="electronics">Electronics</option>
															<option value="people">People</option>
															<option value="pets">Pets</option>
															<option value="automobiles">Automobiles</option>
															<option value="bags">Bags</option>
															<option value="documents">Documents</option>
															<option value="jewellery">Jewellery</option>
															<option value="fashion-accessories">Fashion Accessories</option>
															<option value="other" selected>Other</option>
														</select>
													</div>
												{%endif%}
												<div class="col-4 col-12-small">
													<label for="image">Image</label>
													<input type="file" name="image" id="image" style="display: none" accept="image/*" onchange="loadFile(event)">
													<div id="file-upload-button" class="button" onclick="uploadButton()">Upload Image</div>
													<script>
														var loadFile = function(event) {
															var image = document.getElementById('output');
															image.src = URL.createObjectURL(event.target.files[0]);
														};

														var uploadButton = function() {
															var button = $('#image');
															button.click();
														};
													
														var resetButton = function() {
															var image = document.getElementById('output');
															image.src = "{%static 'posts/global/images/default.jpg'%}";
														};
													</script>
												</div>
												<div class="col-4 col-12-small">
													<span class="image"><img src="{%static 'posts/global/images/default.jpg'%}" id="output" style="object-fit: cover;vertical-align: middle;" width="416px" height="243px"></span>
												</div>
												<div class="col-12">
													<label for="place">Place</label>
													<textarea name="place" id="place" rows="2" placeholder="Specify proper location where you {%if lostForm or claimForm%}lost{%elif foundForm or returnForm%}found{%endif%}." required></textarea>
												</div>
												<div class="col-6 col-12-xsmall">
													<label for="date">Date</label>
													<input type="date" name="date" id="date" style="background: transparent;" required>
												</div>
												<div class="col-6 col-12-xsmall">
													<label for="time">Time</label>
													<input type="time" name="time" id="time" style="background: transparent;" required>
												</div>
												<div class="col-12">
													<ul class="actions">
														<li><input type="submit" value="Submit" class="primary"></li>
														<li><input type="reset" value="Reset" onclick="resetButton()"></li>
													</ul>
												</div>
											{%else%}
												<div class="col-12">
													<label for="name">Name</label>
													<input type="text" name="name" id="name" value="{{item.name}}" required/>
												</div>
												<div class="col-12">
													<label for="description">Description</label>
													<textarea name="description" id="description" rows="4" placeholder="Enter detailed description of the item/individual." required>{{item.description}}</textarea>
												</div>
												{%if option == 'lost' or option == 'found'%}
													<div class="col-12">
														<label for="category">Category</label>
														<select name="category" id="category" required>
															<option value="electronics" {%if item.category == 'electronics'%}selected{%endif%}>Electronics</option>
															<option value="people" {%if item.category == 'people'%}selected{%endif%}>People</option>
															<option value="pets" {%if item.category == 'pets'%}selected{%endif%}>Pets</option>
															<option value="automobiles" {%if item.category == 'automobiles'%}selected{%endif%}>Automobiles</option>
															<option value="bags" {%if item.category == 'bags'%}selected{%endif%}>Bags</option>
															<option value="documents" {%if item.category == 'documents'%}selected{%endif%}>Documents</option>
															<option value="jewellery" {%if item.category == 'jewellery'%}selected{%endif%}>Jewellery</option>
															<option value="fashion-accessories" {%if item.category == 'fashion-accessories'%}selected{%endif%}>Fashion Accessories</option>
															<option value="other" {%if item.category == 'other'%}selected{%endif%}>Other</option>
														</select>
													</div>
												{%endif%}
												<div class="col-4 col-12-small">
													<label for="image">Image</label>
													<input type="file" name="image" id="image" style="display: none" accept="image/*" onchange="loadFile(event)">
													<div id="file-upload-button" class="button" onclick="uploadButton()">Upload Image</div>
													<script>
														var loadFile = function(event) {
															var image = document.getElementById('output');
															image.src = URL.createObjectURL(event.target.files[0]);
														};
													
														var uploadButton = function() {
															var button = $('#image');
															button.click();
														};

														var resetButton = function() {
															var image = document.getElementById('output');
															image.src = "{%static 'posts/global/images/default.jpg'%}";
														};
													</script>
												</div>
												<div class="col-4 col-12-small">
													<span class="image"><img src="{{item.image.url}}" id="output" style="object-fit: cover;vertical-align: middle;" width="416px" height="243px"></span>
												</div>
												<div class="col-12">
													<label for="place">Place</label>
													<textarea name="place" id="place" rows="2" placeholder="Specify proper location where you {%if lostForm or claimForm%}lost{%elif foundForm or returnForm%}found{%endif%}." required>{{item.place}}</textarea>
												</div>
												<div class="col-6 col-12-xsmall">
													<label for="date">Date</label>
													<input type="date" name="date" id="date" value="{{date}}" style="background: transparent;" required>
												</div>
												<div class="col-6 col-12-xsmall">
													<label for="time">Time</label>
													<input type="time" name="time" id="time" value="{{time}}" style="background: transparent;" required>
												</div>
												<div class="col-12">
													<ul class="actions">
														<li><input type="submit" value="Submit" class="primary"></li>
														<li><input type="reset" value="Reset" onclick="resetButton()"></li>
													</ul>
												</div>
											{%endif%}
										</div>
									</form>
								</div>
							</div>
					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="contact">
								<li class="icon solid fa-phone"></li>
								<li class="icon solid fa-envelope"><a href="#"></a></li>
								<li class="icon brands fa-twitter"><a href="#"></a></li>
								<li class="icon brands fa-facebook-f"><a href="#"></a></li>
								<li class="icon brands fa-instagram"><a href="#"></a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{%static 'posts/global/assets/js/jquery.min.js'%}"></script>
			<script src="{%static 'posts/global/assets/js/jquery.scrollex.min.js'%}"></script>
			<script src="{%static 'posts/global/assets/js/browser.min.js'%}"></script>
			<script src="{%static 'posts/global/assets/js/breakpoints.min.js'%}"></script>
			<script src="{%static 'posts/global/assets/js/util.js'%}"></script>
			<script src="{%static 'posts/global/assets/js/main.js'%}"></script>

	</body>
</html>